# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized. And we are going to understand the baiscs concepts of Python.

** Objectives **
- Some of the popular languages that Data Scientists use
- Some of the commonly used libraries used by Data Scientists include
- Data science Tools

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. SQL
5. MATLAB
6. SCALA

### Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow.
2. NumPy.
3. SciPy.
4. Pandas.
5. Matplotlib

### Data science Tools

| Data Science Tools |
| ----------------- |
| Jupyter Notebook  |
| RStudio           |
| PyCharm           |

### Below are a few examples of evaluating arithmetic expressions in Python
1. 3+4
2. 5/5
3. 8*2

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60.
minutes=200
hours= 200/60
print(hours)

3.3333333333333335

## Author
Muhammad Alwaz